// vendor
@import 'optimize'

//helpers
setSize($width, $height = $width)
	width $width
	height $height
	
//animations
@keyframes showEl
	0%
		opacity 0
		transform scale(.3) rotate(45deg)

	50%
		opacity 1
		transform scale(1.05) rotate(180deg)

	70%
		transform scale(.9) rotate(0deg)

	100%
		opacity 1

// common
.body
	setSize(100%, 180vh)

.canvas
	position fixed
	left 0
	top 0
	setSize(100%)
	&__el
		position relative
		left calc(50% - 10vh)
		display block
		setSize(20vh)
		transform rotate(45deg)
		border-width 1px 1px 1px 1px
		overflow hidden
		addTrans(all, .15s, linear)
		transition: background-color .15s linear 0s, border-bottom .5s linear 0s
		animation showEl 2s
		&:hover
			cursor pointer
			outline 1px solid blue
	&__triangle
		position absolute
		left 0
		top 0
		display block
		/*&:before
			content ''
			position absolute
			left 0
			top 0
			display block
			setSize(0)
			transform rotate(90deg)
			border-style solid
			border-color #000 transparent transparent transparent
			border-width 20vh 0vh 0vh 20vh*/